:root {
  --background: #dfdfdf;
  --backgroundLight: #c7c7c7;
  --secondaryBackground: #cacaca;
  --text: #292929;
  --link: #b60202;
  --navText: #292929;
  --mobileNavText: #dfdfdf;
  --hover: #7f7e7e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292929;
    --backgroundLight: #949494;
    --secondaryBackground: #aaaaaa;
    --text: #292929;
    --link: #b60202;
    --navText: #2b2b2b;
    --hover: #7f7e7e;
  }
}
