:root {
  --width-content: 60vw;
  --element-spacing: 20vw;
  --min-width: 100%;
  --mobile-width: 100%;
  --mobile-break: 900px;
}

@media screen and (max-width: 900px) {
  :root {
    --width-content: 90vw;
    --element-spacing: 5vw;
    --min-width: 100%;
  }
}
