{% include "partials/header.njk" %}
{% block content %}
<img src="/img/o_only_black.svg" alt="Overte Logo" class="logo--sticky  light"><img src="/img/verte_only_black.svg" alt="Overte Logo" class="logo light">
<img src="/img/o_only_white.svg" alt="Overte Logo" class="logo--sticky dark"><img src="/img/verte_only_white.svg" alt="Overte Logo" class="logo dark">
{% include "partials/navigation.njk" %}
<main>

    {%- for contentBlock in collections.contentBlock | sortByOrder -%}
    <article class="section">
        <a id="{{ contentBlock.data.navUrl }}" class="nav--anchor"></a>
        <h2>{{ contentBlock.data.title }}</h2>
        {{ contentBlock.data.content | safe }}
    </article>
    {%- endfor -%}
</main>
{% endblock %}
{% include "partials/footer.njk" %}
