{% include "partials/header.njk" %}
{% block content %}
<img src="/img/o_only_black.svg" alt="Overte Logo" class="logo--sticky  light"><img src="/img/verte_only_black.svg" alt="Overte Logo" class="logo light">
<img src="/img/o_only_white.svg" alt="Overte Logo" class="logo--sticky dark"><img src="/img/verte_only_white.svg" alt="Overte Logo" class="logo dark">
{% include "partials/navigation.njk" %}
<main>
    {% include "partials/gallery-top.njk" %}
    {%- for contentBlock in collections.contentBlock | sortByOrder -%}
    <article class="section">
        <a id="{{ contentBlock.data.navUrl }}" class="nav--anchor"></a>
        <h2>{{ contentBlock.data.title }}</h2>
        {{ contentBlock.data.content | safe }}
    </article>
    {%- endfor -%}
    <article class="section">
        <h1>Overte is a thing!</h1>
        <p>
            Sit veritatis blanditiis voluptatem ullam quam quaerat. Voluptatem accusamus odio reiciendis. Maiores architecto repellendus modi harum est sapiente voluptate tempora. Et voluptatem sit error qui sit distinctio et. Quos eaque fuga officiis fugit quam natus est. Accusamus voluptatum eius iure nesciunt facilis eum.

            Id autem quia quia cupiditate. Enim sunt quod nulla mollitia. Accusamus quibusdam sit voluptatem sit labore. Et molestiae sit velit assumenda assumenda culpa veniam ratione. Quae in architecto et ipsa sed. Quia alias ut est aut consequatur rerum quibusdam dolorem.

            Explicabo consequatur soluta autem enim voluptatem dolorem occaecati est. Minima sit odit architecto recusandae assumenda aut veniam ea. Ipsam ut iste quia tempore numquam quia tempore. Voluptatem nemo sunt ullam saepe mollitia nulla pariatur.
        </p>
        <div class="teaser">
            <div class="teaser--text">
                <p>"Sit veritatis blanditiis voluptatem ullam quam quaerat. Voluptatem accusamus odio reiciendis. Maiores architecto repellendus modi harum est sapiente voluptate tempora. Et voluptatem sit error qui sit distinctio et. 
                <br>
                Quos eaque fuga officiis fugit quam natus est. Accusamus voluptatum eius iure nesciunt facilis eum. Id autem quia quia cupiditate. Enim sunt quod nulla mollitia. Accusamus quibusdam sit voluptatem sit labore. Et molestiae sit velit assumenda assumenda culpa veniam ratione. Quae in architecto et ipsa sed. Quia alias ut est aut consequatur rerum quibusdam dolorem. Explicabo consequatur soluta autem enim voluptatem dolorem occaecati est. Minima sit odit architecto recusandae assumenda aut veniam ea. Ipsam ut iste quia tempore numquam quia tempore. Voluptatem nemo sunt ullam saepe mollitia nulla pariatur."</p>
            </div>
            <div class="teaser--images-first">
                <div class="teaser--image"><img src="/img/8machine-_-k5I4flX0l5Q-unsplash.jpg"></div>
                <div class="teaser--image"><img src="/img/emmalee-couturier-Shf_B7x8gDA-unsplash.jpg"></div>
            </div>
            <div class="teaser--images-second">
                <div class="teaser--image"><img src="/img/daniel-toth-5vd6pBy5RdI-unsplash.jpg"></div>
                <div class="teaser--image"><img src="/img/ransford-quaye-MPdB8U-Xjhc-unsplash.jpg"></div>
            </div>
        </div>
    </article>
</main>
{% endblock %}
{% include "partials/footer.njk" %}
