main {
    max-width: $width-content;
    margin: 0 auto;
    margin-top: 20px;
}
.section {
    background: $secondaryBackgroundColor;
    padding: 60px 20px 20px 20px;
    margin: 30px 0 20px 0;
    position: relative;
    z-index: -1;
    border-radius: 25px;
    overflow: hidden;

    & .nav--anchor {
        position: relative;
        top: -150px;

        @media screen and (max-width: $mobile-break) {
            top: -50px;
        }
    }
    & p {
        margin-bottom: 30px;
    }
    & h1, & h2 {
        margin: 0;
        padding: 10px 20px;
        position: absolute;
        font-family: truenolight;
        top: 0;
        left: 0;
        background: #000000;
        color: #ffffff;
        border-bottom-right-radius: 25px;
        font-size: 150%;
    }
}

.teaser {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    & > * {   
        flex: 0 1 auto; 
    }
    &--text p {
        padding: 30px 50px;
        font-family: truenolight;
    }
    &--images-first, .teaser--images-second {
        display: flex;
        gap: 20px;
        flex-flow: column nowrap;
    }

    &--image img {
        object-fit: cover;
        height: 200px;
        width: 200px;
    }
}