footer {
    width: $width-content;
    margin: 0 auto;
    background: $secondaryBackgroundColor;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    min-height: 50px;
    box-shadow: 5px 0px 6px 0px rgba(0,0,0,.75);

    .footer {
        &--wrap {
            width: 100%;
            padding: 20px;
            text-align: left;
        }
    }
}