nav, .logo--sticky {
    position: sticky;
    top: 0px;
    transition: all 0.3s;

    @media screen and (max-width: $mobile-break) {
        position: initial;
    }
}
.logo--sticky {
    z-index: 10;
    padding-left: calc(#{$element-spacing} - #{$logo-spacing});
}
.logo, .logo--sticky {
    height: 60px;
    padding-top: 13px;

}
.logo {
    margin-left: -5px
}
nav {
    z-index: 2;
}
.nav {
    padding:  21px 0 0 0;
    margin: 0 $element-spacing;
    max-width: $width-content;
    display: flex;
    position: relative;

    @media screen and (max-width: $mobile-break) {
        display: none;
    }

    & #logo-dot {
        background: #000000;
        margin-left: 0;
        padding-right: 5px;
        border-radius: 50px;
        height:59px;
        width:60px;
        z-index: 6;
        position: absolute;
        top: 7px;
        left: -6px;
        opacity: 0;
        transition: all 0.2s;

        &.is--visible {
            opacity: 1;
        }
    }
    & a {
        text-decoration: none;
        color: $navigationTextColor;

        &:hover {
            color: $navigationTextColor;
        }

        & {
            padding: 8px;
            padding-left: 35px;
            padding-right: 25px;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            box-shadow: 3px -1px 6px -1px rgba(0,0,0,0.75);
            transition: all 0.3s;
            font-family: $truLight;
        }
        &:hover { 
            box-shadow: 5px -1px 6px -1px rgba(0,0,0,0.75);
            cursor: pointer;
        }
        & {
            margin-left: -25px;
        }
        &:nth-child(2) {
            background: #ffc799;
            z-index: 5;
            margin-left: 25px;
            border-radius: 25px;

            &:hover {
                background: #fcddc3;
            }
        }        
        &:nth-child(3) {
            background: #cfff99;
            z-index: 4;

            &:hover {
                background: #e1fcc2;
            }
        }        
        &:nth-child(4) {
            background: #99fff6;
            z-index: 3;

            &:hover {
                background: #bcfcf6;
            }
        }        
        &:nth-child(5) {
            background: #c099ff;
            z-index: 2;
        }        
        &:nth-child(6) {
            background: #f399ff;
            z-index: 1;
        }        
        &:nth-child(7) {
            background: #ff99c4;
            z-index: 0;
        }
    }

}
.mobile-nav {
    z-index: 99999;

    &--menu {
        width: 50px;
        height: 48px;
        background: black;
        padding: 13px 10px;
        margin-right: 10px;
        position: fixed;
        right: 0;
        top: 10px;
        cursor: pointer;
        z-index: 1;
        display: none;

        @media screen and (max-width: $mobile-break) {
            display: block;
        }
    }
    &--menu-line1, &--menu-line2, &--menu-line3 {
        background: white;
        height: 3px;
        width: 30px;
        transition: all 0.3s;
        position: absolute;
    }
    &--menu-line1 {
        transform: translate3d(0px, 0px, 0px);
    }
    &--menu-line2 {
        transform: translate3d(0px, 10px, 0px);
        opacity: 1;
    }
    &--menu-line3 {
        transform: translate3d(0px, 20px, 0px);
    }
    &--menu.is--open &--menu-line1 {
        transform: translate3d(0px, 10px, 0px) rotate(45deg);
    }
    &--menu.is--open &--menu-line2 {
        opacity: 0;
    }
    &--menu.is--open &--menu-line3 {
        transform: translate3d(0px, 10px, 0px) rotate(-45deg);
    }
    &--body {
        background: black;
        width: 350px;
        position: absolute;
        top: 50px;
        right: -360px;
        transition: all 0.3s;
    }
    &--menu.is--open &--body {
        right: 0;
    }
    &--items {
        margin: 0;
        padding: 0;
    }
    &--item {
        color: $mobileNavColor;
        font-size: 20px;
        list-style: none;
        text-transform: uppercase;
        width: calc(100% - 10px);
        padding: 10px;
        margin: 10px 0;
        font-family: $truLight;
    }
    &--text {
        color: $mobileNavColor;
        text-decoration: none;
    }
    &--item:hover {
        background: darkgray;
    }

}
