:root {
    --background: #dfdfdf;
    --secondaryBackground: #cacaca;
    --text: #292929;
    --link: #b60202;
    --navText: #292929;
    --mobileNavText: #dfdfdf;
    --hover: #7f7e7e;
}
$backgroundColor: var(--background);
$secondaryBackgroundColor: var(--secondaryBackground);
$textColor: var(--text);
$link:  var(--link);
$navigationTextColor: var(--navText);
$hover: var(--hover);
$mobileNavColor: var(--mobileNavText);
@media (prefers-color-scheme: dark) {
    :root {
        --background: #292929;
        --secondaryBackground: #aaaaaa;
        --text: #292929;
        --link: #b60202;
        --navText: #2b2b2b;
        --hover: #7f7e7e;
    }
}