:root {
  --background: #dfdfdf;
  --secondaryBackground: #cacaca;
  --text: #292929;
  --navText: #292929;
  --mobileNavText: #dfdfdf;
  --hover: #7f7e7e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292929;
    --secondaryBackground: #aaaaaa;
    --text: #dfdfdf;
    --navText: #2b2b2b;
    --hover: #7f7e7e;
  }
}
:root {
  --width-content: 60vw;
  --element-spacing: 20vw;
  --logo-spacing: 0px;
}

@media screen and (max-width: 800px) {
  :root {
    --width-content: 90vw;
    --element-spacing: 5vw;
    --min-width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  :root {
    --width-content: 80vw;
    --element-spacing: 10vw;
    --logo-spacing: 0px;
    --min-width: 100%;
  }
}
@font-face {
  font-family: "truenoultralight";
  src: url("/fonts/truenoultralight-dkax-webfont.woff2") format("woff2"), url("/fonts/truenoultralight-dkax-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "truenolight";
  src: url("/fonts/truenolight-e2pg-webfont.woff2") format("woff2"), url("/fonts/truenolight-e2pg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "truenoultralight";
  background: var(--background);
  margin-bottom: 0;
}

.light {
  display: initial;
}

.dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .light {
    display: none;
  }

  .dark {
    display: initial;
  }
}
main {
  max-width: var(--width-content);
  margin: 0 auto;
  margin-top: 20px;
}

.section {
  background: var(--secondaryBackground);
  padding: 60px 20px 20px 20px;
  margin: 30px 0 20px 0;
  position: relative;
  z-index: -1;
  border-radius: 25px;
  overflow: hidden;
}
.section .nav--anchor {
  position: relative;
  top: -150px;
}
@media screen and (max-width: 800px) {
  .section .nav--anchor {
    top: -50px;
  }
}
.section p {
  margin-bottom: 30px;
}
.section h1, .section h2 {
  margin: 0;
  padding: 10px 20px;
  position: absolute;
  font-family: truenolight;
  top: 0;
  left: 0;
  background: #000000;
  color: #ffffff;
  border-bottom-right-radius: 25px;
  font-size: 150%;
}

.teaser {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.teaser > * {
  flex: 0 1 auto;
}
.teaser--text p {
  padding: 30px 50px;
  font-family: truenolight;
}
.teaser--images-first, .teaser .teaser--images-second {
  display: flex;
  gap: 20px;
  flex-flow: column nowrap;
}
.teaser--image img {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.gallery-top {
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  max-height: 500px;
}
.gallery-top img {
  width: 100%;
  object-fit: cover;
}

#logo-dot.is--visible {
  opacity: 1;
}

nav, .logo--sticky {
  position: sticky;
  top: 0px;
  transition: all 0.3s;
}
@media screen and (max-width: 800px) {
  nav, .logo--sticky {
    position: initial;
  }
}

.logo--sticky {
  z-index: 10;
  padding-left: calc(var(--element-spacing) - var(--logo-spacing));
}

.logo, .logo--sticky {
  height: 60px;
  padding-top: 13px;
}

.logo {
  margin-left: -5px;
}

.nav {
  padding: 21px 0 0 0;
  margin: 0 var(--element-spacing);
  max-width: var(--width-content);
  display: flex;
  position: relative;
}
@media screen and (max-width: 800px) {
  .nav {
    display: none;
  }
}
.nav a {
  text-decoration: none;
  color: var(--navText);
}
.nav a:hover {
  color: var(--navText);
}
.nav li {
  padding: 8px;
  padding-left: 35px;
  padding-right: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 3px -1px 6px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px -1px 6px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px -1px 6px -1px rgba(0, 0, 0, 0.75);
  transition: all 0.3s;
  font-family: "truenolight";
}
.nav li:hover {
  box-shadow: 5px -1px 6px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px -1px 6px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px -1px 6px -1px rgba(0, 0, 0, 0.75);
  filter: brightness(150%);
  cursor: pointer;
}
.nav li {
  margin-left: -25px;
}
.nav li:nth-child(1) {
  background: #000000;
  margin-left: 0;
  padding-right: 5px;
  border-radius: 50px;
  height: 59px;
  width: 60px;
  z-index: 5;
  position: absolute;
  top: 7px;
  left: -6px;
  opacity: 0;
  transition: all 0.2s;
}
.nav li:nth-child(2) {
  background: #cfff99;
  z-index: 4;
  margin-left: 25px;
  border-radius: 25px;
}
.nav li:nth-child(3) {
  background: #99fff6;
  z-index: 3;
}
.nav li:nth-child(4) {
  background: #c099ff;
  z-index: 2;
}
.nav li:nth-child(5) {
  background: #f399ff;
  z-index: 1;
}
.nav li:nth-child(6) {
  background: #ff99c4;
  z-index: 0;
}

.mobile-nav {
  z-index: 99999;
}
.mobile-nav--menu {
  width: 31px;
  height: 25px;
  background: black;
  padding: 13px 10px;
  margin-right: 10px;
  position: fixed;
  right: 0;
  top: 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
}
@media screen and (max-width: 800px) {
  .mobile-nav--menu {
    display: block;
  }
}
.mobile-nav--menu-line1, .mobile-nav--menu-line2, .mobile-nav--menu-line3 {
  background: white;
  height: 3px;
  width: 30px;
  transition: all 0.3s;
  position: absolute;
}
.mobile-nav--menu-line1 {
  transform: translate3d(0px, 0px, 0px);
}
.mobile-nav--menu-line2 {
  transform: translate3d(0px, 10px, 0px);
  opacity: 1;
}
.mobile-nav--menu-line3 {
  transform: translate3d(0px, 20px, 0px);
}
.mobile-nav--menu.is--open .mobile-nav--menu-line1 {
  transform: translate3d(0px, 10px, 0px) rotate(45deg);
}
.mobile-nav--menu.is--open .mobile-nav--menu-line2 {
  opacity: 0;
}
.mobile-nav--menu.is--open .mobile-nav--menu-line3 {
  transform: translate3d(0px, 10px, 0px) rotate(-45deg);
}
.mobile-nav--body {
  background: black;
  width: 350px;
  position: absolute;
  top: 50px;
  right: -360px;
  transition: all 0.3s;
}
.mobile-nav--menu.is--open .mobile-nav--body {
  right: 0;
}
.mobile-nav--items {
  margin: 0;
  padding: 0;
}
.mobile-nav--item {
  color: var(--mobileNavText);
  font-size: 20px;
  list-style: none;
  text-transform: uppercase;
  width: calc(100% - 10px);
  padding: 10px;
  margin: 10px 0;
  font-family: "truenolight";
}
.mobile-nav--item a {
  color: var(--mobileNavText);
  text-decoration: none;
}
.mobile-nav--item:hover {
  background: darkgray;
}

footer {
  width: var(--width-content);
  margin: 0 auto;
  background: var(--secondaryBackground);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  min-height: 50px;
}
footer .footer--wrap {
  width: 100%;
  padding: 20px;
  text-align: left;
}
