@font-face {
  font-family: "truenoultralight";
  src: url("/fonts/truenoultralight-dkax-webfont.woff2") format("woff2"), url("/fonts/truenoultralight-dkax-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "truenolight";
  src: url("/fonts/truenolight-e2pg-webfont.woff2") format("woff2"), url("/fonts/truenolight-e2pg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
