<footer>
    <div class="footer--wrap">
        <a href="{{'/legal/imprint' | url }}">copyright and imprint</a>
        <a href="{{'/legal/privacy' | url }}">privacy policy</a>
    </div>
</footer>
<script  src="/js/main.min.js"></script>
</body>
</html>
