<footer>
    <div class="footer--wrap">
        <a href="{{'/legal/imprint' | url }}">Copyright and Imprint</a>
        <a href="{{'/legal/privacy' | url }}">Privacy policy</a>
        <a href="{{'/overte.ev/ev' | url }}">Overte e.V.</a>
    </div>
</footer>
<script  src="/js/main.min.js"></script>
</body>
</html>
