<nav>
    <ul class="nav">
        <li id="logo-dot"></li>
        {%- for contentBlock in collections.contentBlock | sortByOrder -%}
        {%- if contentBlock.data.draft != true -%}
        <a href="{{ '/#'+contentBlock.data.navUrl | url }}">
                <div class="nav--text">{{ contentBlock.data.title }}</div>
        </a>
        {%- endif -%}
        {%- endfor -%}
    </ul>
    <div class="mobile-nav--menu" onclick="document.getElementsByClassName('mobile-nav--menu')[0].classList.toggle('is--open');">
        <div class="mobile-nav--menu-line1"></div>
        <div class="mobile-nav--menu-line2"></div>
        <div class="mobile-nav--menu-line3"></div>
        <div class="mobile-nav--body">
            <ul>
                {%- for contentBlock in collections.contentBlock | sortByOrder -%}
                {%- if contentBlock.data.draft != true -%}
                <a href="{{ '/#'+contentBlock.data.navUrl | url }}" class="mobile-nav--text">
                    <li class="mobile-nav--item">
                        <div>{{ contentBlock.data.title }}</div>
                    </li>
                </a>
                {%- endif -%}
                {%- endfor -%}
            </ul
        </div>
    </div>
</nav>