<article class="section">
    <a id="news" class="nav--anchor"></a>
    <h2>News</h2>
    {% for newsPost in collections.news %}
    <div class="news--post">
        <a href="{{ newsPost.url }}">
        <h2>{{ newsPost.data.title }}</h2>
        </a>
    </div>
    {% endfor %}
</article>
